@charset "UTF-8";
/*RESONSIVE*/
/*Variables */
/*COLORES*/
/*TAMAÑOS DE TIPOGRAFIA*/
/* ESPACIADO*/
/*TIPOGRAFIAS*/
* {
  padding: 0;
  margin: 0;
  text-decoration: none; }

html {
  scroll-behavior: smooth; }

header {
  padding: 1rem 5rem;
  height: 100vh;
  background-color: #d9e3e8; }
  @media screen and (max-width: 576px) {
    header {
      padding: 1rem; } }

footer {
  background-color: #000f14; }

.logo {
  height: 10vh; }

ul .nav-link {
  transition: transform .5s; }

ul .nav-link:hover {
  transform: scale(1.2); }

.info {
  display: flex;
  flex-direction: column;
  background-color: #d9e3e8;
  padding: 3rem; }
  .info .card-header {
    background-color: #000f14;
    color: #d9e3e8; }
  .info .card {
    width: 70vw; }
  .info__h3 {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    font-family: 'Rajdhani', sans-serif; }
  .info__h5 {
    margin-left: 5rem;
    font-family: 'Rajdhani', sans-serif; }
    @media screen and (max-width: 768px) {
      .info__h5 {
        margin-left: 0.5rem; } }
  .info__p {
    margin-left: 5rem;
    font-family: 'Rajdhani', sans-serif; }
    @media screen and (max-width: 768px) {
      .info__p {
        margin-left: 0.5rem; } }
  .info h3 {
    font-size: 5rem;
    margin-block: 2.5rem; }
    @media screen and (max-width: 768px) {
      .info h3 {
        font-size: 3.5rem; } }
  .info h5 {
    font-size: 3rem; }
    @media screen and (max-width: 768px) {
      .info h5 {
        font-size: 2.2rem; } }
  .info p {
    margin-block: 2.5rem;
    font-size: 1.5rem; }

.inicio__titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh; }
  .inicio__titulo h1 {
    font-size: 10rem;
    padding-bottom: 2rem; }
    @media screen and (max-width: 768px) {
      .inicio__titulo h1 {
        font-size: 8rem; } }
    @media screen and (max-width: 576px) {
      .inicio__titulo h1 {
        font-size: 3.5rem; } }

.inicio__pie {
  display: flex;
  justify-content: end;
  padding-right: 3rem; }

.fondo {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .fondo__titulo {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(217, 227, 232, 0.7); }
    .fondo__titulo h2 {
      font-size: 3.5rem; }
    @media screen and (max-width: 576px) {
      .fondo__titulo {
        height: auto;
        width: auto;
        padding: 1rem; }
        .fondo__titulo h2 {
          font-size: 2rem; } }

#HABITACION, #COCINA, #LIVING, #BAÑO {
  background-image: url("../img/fondos/habitacion.jpg");
  background-size: cover;
  background-attachment: fixed; }
  @media screen and (max-width: 576px) {
    #HABITACION, #COCINA, #LIVING, #BAÑO {
      background-image: url("../img/fondos/habitacion_celu.jpg"); } }

#COCINA {
  background-image: url("../img/fondos/cocina.png"); }
  @media screen and (max-width: 576px) {
    #COCINA {
      background-image: url("../img/fondos/cocina_celu.jpg"); } }

#LIVING {
  background-image: url("../img/fondos/living.png"); }
  @media screen and (max-width: 576px) {
    #LIVING {
      background-image: url("../img/fondos/living_celu.jpg"); } }

#BAÑO {
  background-image: url("../img/fondos/bano.jpg"); }
  @media screen and (max-width: 576px) {
    #BAÑO {
      background-image: url("../img/fondos/bano_celu.jpg"); } }

.productos, .productos-2 {
  background-color: #d9e3e8;
  padding-bottom: 5rem;
  overflow: hidden; }
  .productos__titulo, .productos__titulo-2 {
    padding: 3rem;
    display: grid;
    grid-template-columns: auto 1fr; }
    .productos__titulo h2, .productos__titulo-2 h2 {
      padding-inline: 5rem 3rem; }
    @media screen and (max-width: 576px) {
      .productos__titulo, .productos__titulo-2 {
        padding: 1rem; }
        .productos__titulo h2, .productos__titulo-2 h2 {
          font-size: 1.5rem;
          padding-inline: 0 !important; } }
  .productos__todo, .productos-2 .productos__todo-2 {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    @media screen and (max-width: 576px) {
      .productos__todo, .productos-2 .productos__todo-2 {
        grid-template-columns: 1fr; } }
  .productos__img {
    display: flex;
    justify-content: center;
  ;}
    @media screen and (max-width: 576px) {
      .productos__img {
        width: 100vw; } }
  .productos img, .productos-2 img {
    height: 60vh;
    box-shadow: 5px 5px 5px #999;
  border-radius: 2rem}
    @media screen and (max-width: 576px) {
      .productos img, .productos-2 img {
        width: 80vw;
        height: auto; } }
  .productos__nombre h3 {
    font-size: 3.5rem;
    padding-bottom: 2rem; }
    @media screen and (max-width: 1024px) {
      .productos__nombre h3 {
        font-size: 2.5rem; } }
    @media screen and (max-width: 576px) {
      .productos__nombre h3 {
        font-size: 2rem; } }
  @media screen and (max-width: 576px) {
    .productos__nombre {
      display: flex;
      justify-content: center; } }
  .productos__info {
    overflow: hidden p;
      overflow-font-size: 1.2rem; }
    @media screen and (max-width: 1024px) {
      .productos__info {
        margin-top: 1rem; } }
    @media screen and (max-width: 576px) {
      .productos__info {
        display: flex;
        flex-direction: column;
        padding-top: 1rem; }
        .productos__info .productos__p {
          padding-inline: 3rem; } }
  .productos__precio, .productos-2 .productos__precio-2 {
    padding-top: 3rem; }
    .productos__precio h3, .productos-2 .productos__precio-2 h3 {
      font-size: 5rem; }
      @media screen and (max-width: 768px) {
        .productos__precio h3, .productos-2 .productos__precio-2 h3 {
          font-size: 4rem; } }
      @media screen and (max-width: 576px) {
        .productos__precio h3, .productos-2 .productos__precio-2 h3 {
          font-size: 3rem; } }
    @media screen and (max-width: 576px) {
      .productos__precio, .productos-2 .productos__precio-2 {
        display: flex;
        justify-content: center; } }
.productos__nombre-2{
margin-left: 5rem;
}
.productos-2 {
  padding-top: 5rem;
  background-color: #000f14; }
  .productos-2 .productos__img {
    grid-area: b; }
    .productos-2 .productos__img img {
      height: 60vh;
      box-shadow: 10px 10px 10px black; }
      @media screen and (max-width: 576px) {
        .productos-2 .productos__img img {
          width: 80vw;
          height: auto; } }
  .productos-2 .productos__todo-2 {
    grid-template-areas: "a b"; }
    @media screen and (max-width: 576px) {
      .productos-2 .productos__todo-2 {
        display: flex;
        flex-direction: column; } }
  .productos-2 .productos__info {
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media screen and (max-width: 768px) {
      .productos-2 .productos__info {
        padding-left: 3rem; } }
    @media screen and (max-width: 576px) {
      .productos-2 .productos__info {
        padding-left: 0; } }
  .productos-2 .productos__nombre-2 h3 {
    color: #ffffff;
    font-size: 3.5rem;
    padding-bottom: 2rem; }
    @media screen and (max-width: 1024px) {
      .productos-2 .productos__nombre-2 h3 {
        font-size: 2.5rem; } }
    @media screen and (max-width: 576px) {
      .productos-2 .productos__nombre-2 h3 {
        font-size: 2rem; } }
  .productos-2 .productos__p-2 {
    color: #ffffff; }
    @media screen and (max-width: 576px) {
      .productos-2 .productos__p-2 {
        padding-inline: 3rem; } }
  .productos-2 .productos__precio-2 {
    color: #ffffff; }
    @media screen and (max-width: 768px) {
      .productos-2 .productos__precio-2 h3 {
        font-size: 4rem; } }
    @media screen and (max-width: 576px) {
      .productos-2 .productos__precio-2 h3 {
        font-size: 3rem; } }

.color {
  background-color: #000f14 !important;
  color: #ffffff; }

.productos__titulo-2 {
  color: #ffffff;
  background-color: #000f14; }

.redes {
  padding-top: 3rem;
  display: grid;
  grid-template-columns: 1fr auto 1fr; }
  .redes hr {
    color: #d9e3e8;
    border-top: 10px double #8c8b8b; }
  .redes__inconos {
    padding-inline: 3rem; }
    .redes__inconos img {
      width: 50px;
      margin-left: 1rem; }
    @media screen and (max-width: 576px) {
      .redes__inconos {
        padding-inline: .5rem; } }

.marca {
  padding-block: 1rem;
  color: #8c8b8b;
  display: flex;
  flex-direction: column;
  align-items: center; }
