.fondo{
    height: 40vh;    
    display: flex;
    justify-content: center;
    align-items: center;
    &__titulo {
        padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgba(217, 227, 232, .7);
        h2{
            font-size: $titulor;           
        }
        @include responsive (celu){
            height: auto;
            width: auto;
            padding: 1rem;    
            h2{
                font-size: 2.5rem;
            }        
        }
    }
}

#habitacion{
    background-image: url("../img/fondos/fondo_habitacion.png");
    background-size: cover;
    background-attachment: fixed;
    @include responsive (celu){
        background-image: url("../img/fondos/habitacion_celu.jpg");   
    }
}

#cocina{
    @extend #habitacion;
        background-image: url("../img/fondos/cocina.png");
    @include responsive (celu){
        background-image: url("../img/fondos/cocina_celu.jpg")   
    }
}

#comedor{
    @extend #habitacion;
        background-image: url("../img/fondos/living.png");
    @include responsive (celu){
        background-image: url("../img/fondos/living_celu.jpg")   
    }
}

#bano{
    @extend #habitacion;
        background-image: url("../img/fondos/bano.jpg");
    @include responsive (celu){
        background-image: url("../img/fondos/bano_celu.jpg")   
    }
}

