*{
    padding:0;
    margin:0;
    text-decoration:none;
}
html {
    scroll-behavior: smooth;
}
header{
    padding: $m $xxl;
    height: 100vh;
    background-color: $color1;
    @include responsive (celu){
        padding: 1rem;
    }
}

footer{
    
    background-color: $color3;
}
