.inicio{ 
    &__titulo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80vh;
        h1 {
            font-size: $titulo * 2;
            padding-bottom: $l;
            @include responsive (tablet){
                font-size: 8rem;
            }
            @include responsive (celu){
                font-size: 3.5rem;
            }
        }
    }
    &__pie {
        display: flex;
        justify-content: end;
        padding-right: $xl;
    }
}