.productos{
    background-color: $color1;
    padding-bottom: $xxl;
    overflow: hidden;
    &__titulo {
        padding: $xl;
        display: grid;
        grid-template-columns: auto 1fr;
        h2{
            padding-inline: $xxl $xl;
        }
        @include responsive (celu){
            padding: 1rem;
            h2{
                font-size: 1.5rem;
                padding-inline: 0!important;
            }
        }
    }
    &__todo {
        display: grid;
        grid-template-columns: 1fr 1fr;
        @include responsive (celu){
            grid-template-columns: 1fr;   
        }
    }
    &__img {
        display: flex;
        justify-content: center;
        @include responsive (celu){
            width: 100vw;
        }
        
    }
    img{
        height: 60vh;
        box-shadow: 5px 5px 5px #999;
        @include responsive(celu){
            width: 80vw;
        height: auto;
        }
    }
    &__nombre {
        
    
        h3 {
            font-size: $titulor;
            padding-bottom: $l;
            @include responsive (pc){
                font-size: 2.5rem;
            }
            @include responsive (celu){
                font-size: 2rem;
            }
        }
        @include responsive (celu){
            display: flex;
        justify-content: center;
        }
    }
    &__info{
        margin-top: $xxl;
        overflow: hidden        
        p{
            font-size: $parrafo;
            
        }   
        @include responsive (pc){
            margin-top: 1rem;
        }   
        @include responsive (celu){
            display: flex;
            flex-direction: column;
            padding-top: 1rem;
            .productos__p {
                padding-inline: 3rem;

            }
        }  
        
    }
    &__precio {
        padding-top: 3rem;
        h3{
            font-size: $titulo;         
            @include responsive(tablet){
                font-size: 4rem;
            }
            @include responsive (celu){
                font-size: 3rem;
            }
        }
        @include responsive (celu){
            display: flex;
        justify-content: center;
        }
    }
    
}
.productos-2{
    @extend .productos;
    
    padding-top: $xxl;
    background-color: $color3;
    .productos__img {
        grid-area: b;
        img{
        height: 60vh;
        box-shadow: 10px 10px 10px black;
        @include responsive(celu){
            width: 80vw;
        height: auto;
        }
        }
    }
    .productos__todo-2{
        @extend .productos__todo;
        grid-template-areas: "a b";
        @include responsive (celu){
            display: flex;
            flex-direction: column; 
        }
    }
    .productos__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include responsive (tablet){
            padding-left: 3rem;
        }
        @include responsive (celu){
            padding-left: 0;
        }
    }
    .productos__nombre-2 h3 {
        color: $color4;
        font-size: $titulor;
        padding-bottom: $l;
        @include responsive (pc){
            font-size: 2.5rem;
        }
        @include responsive (celu){
            font-size: 2rem;
            
        }
    }
    .productos__p-2{
        
        color: $color4;
        @include responsive(celu){
            padding-inline: 3rem;
        }
    }
    .productos__precio-2{
        @extend .productos__precio;
        color:$color4;
        h3{
            @include responsive(tablet){
                font-size: 4rem;
            }
            @include responsive (celu){
                font-size: 3rem;
            }
        }
    }
}
.color{
    background-color: $color3!important;
    color: $color4;
}



.productos__titulo-2{
    @extend .productos__titulo;
    color: $color4;
    background-color: $color3;
}

